
color palette {
    <a href="https://coolors.co/396e94-e7c24f-a43312-381d2a-aabd8c" target="_blank"> https://coolors.co/396e94-e7c24f-a43312-381d2a-aabd8c</a>
}
@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');


:root {
    --primary-color: #0D1821;
    --secondary-color: #344966;
    --accent1-color: #B4CDED;
    --accent2-color: #F0F4EF;
    
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-background-color: #344966;
    --nav-link-color: #fff;
    --nav-hover-link-color: #3498db;
    --nav-hover-background-color: #754444555;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }


  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }


  p {
    padding: 25px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }